

<!--  email body -->
<container class="container-pymt-info">
  <!-- 1st row: logo image -->
  <row class="container-subscription-row">
    <columns>
      <h3 class="nov">
        {{headSpace.yearly-subscription.date}}
      </h3> 
    </columns>
  </row>

  <!-- 2nd row: yearly total:  -->
  <row class="container-subs-amount">
    <columns small="12" class="table-total center">

          <h1>
            {{headSpace.yearly-subscription.billing}}
            <span>{{headSpace.yearly-subscription.billing-cycle}}</span>
          </h1>

          <h1> {{headSpace.yearly-subscription.tax-type}}
            <span>$95.88</span>
          </h1>

          <h1>{{headSpace.yearly-subscription.discount-type}}
            <span>{{headSpace.yearly-subscription.3-month-discount}}</span>
          </h1>
    <hr class="subs-hr">
          <h1 class="total">{{headSpace.yearly-subscription.total}} 
            <span>$71.91</span>
          </h1>

    </columns>
  </row>

  <!-- 3rd row: pymt - billing:  -->
  <row class="container-billing-addr">
      <columns class="billing-yearly text-center" align="left" >
        <p class="pymt-title">
          {{headSpace.account-pymt-details.title}}
        </p>
              <h1 class="renew" >{{headSpace.account-pymt-details.renewal}}
                <span>{{headSpace.account-pymt-details.renewal-cycle}}</span>
              </h1>
            
              <h1 class="card-info" >{{headSpace.account-pymt-details.payment-form-title}}
                <span>{{headSpace.account-pymt-details.payment-details}}</span>
              </h1>

              <h1 class="expire" > {{headSpace.account-pymt-details.payment-experation-title}}
                <span>{{headSpace.account-pymt-details.payment-experation-date}}
                </span>
              </h1>
            
          <hr class="pymt-hr">

          <p class="renew-status">{{headSpace.account-pymt-details.payment-card-info}}
              <span class="renew-approved">
                {{headSpace.account-pymt-details.payment-status}}
              </span>
          </p>
      </columns>

      <columns class="billing-addr text-center" >
            
        <p> {{headSpace.billing-address.title}}
          <span></span>
        </p>

        <h1>{{headSpace.billing-address.customer-name}}
            <span></span>
        </h1>
      
        <h1>{{headSpace.billing-address.street-address}}
            <span></span>
        </h1>
      
        <h1>{{headSpace.billing-address.city-state-zip}}
            <span></span>
        </h1>
      
        <h1>{{headSpace.billing-address.email}}
            <span></span>
        </h1>
      
        <h1>{{headSpace.billing-address.phone-number}}
            <span></span>
        </h1>
      </columns>
  </row>


  <!-- 4th row: pymt disclaimer -->
  <row class="container-pymt-disclaimer">
    <columns class="pymt-disclaimer">
        <p> 
          {{headSpace.billing-address.pymt-disclaimer1}}
            <a href="https://www.headspace.com/login" target="blank">
              {{headSpace.billing-address.pymt-disclaimer2}}
            </a>. 
          
            {{headSpace.billing-address.pymt-disclaimer3}}
           <a href="https://www.headspace.com/login" target="blank" rel="noreferrer">
            {{headSpace.billing-address.pymt-disclaimer4}}
           </a> 
           {{headSpace.billing-address.pymt-disclaimer5}}
        </p>
    </columns>
  </row>
</container>


<container class="container-button-img">
    <!--  image row -->
    <row class="container-img-app">
      <center class="img-app">
        <img src="https://github.com/RBRuthie/Zurb_Head-Space_Transactional/blob/main/src/assets/img/headspace/3.png?raw=true" alt="laptop" >
      </center>
    </row>

    <!--  open the app message -->
    <row class="container-explore-app ">
      <columns class="explore-app">
        <p class="open">Open the app to explore Headspace app.</p>
        <p>If you need us, we’re here for you.</p>
      </columns>
    </row>

    <!--  button row -->
    <row class="container-button-app">
      <center class="button-app " >
        <a href="https://www.headspace.com/login" 
            class="btn" rel="noreferrer" target="blank">
            Get some Headspace
        </a>
      </center>
    </row>

    <!-- quote -->
    <row class="container-quote-app ">
      <columns class="quote">
          <h1 class="here">
            "Here's to a healthier and happier you".
          </h1>

          <h2 class="headspace-team">
              - The Headspace Team
          </h2>
      </columns>
    </row>
</container>

