

<!--  email body -->
<container class="container-pymt-info">
  <!-- 1st row: logo image -->
  <row class="container-subscription-row">
    <columns>
      <h3 class="nov">
        November 10, 2021
      </h3> 
    </columns>
  </row>

  <!-- 2nd row: yearly total:  -->
  <row class="container-subs-amount">
    <columns small="12" class="table-total center">

          <h1 class="sub" >Subscription Type:
            <span>Annual</span>
          </h1>

          <h1 class="sub" >Tax Inclusive Annual:
            <span>$95.88</span>
          </h1>

          <h1 class="promo" >3 Months Free Discount
            <span>-$23.97</span>
          </h1>
    <hr class="subs-hr">
          <h1 class="total">Total: 
            <span>$71.91</span>
          </h1>

    </columns>
  </row>

  <!-- 3rd row: pymt - billing:  -->
  <row class="container-billing-addr">
      <columns class="billing-yearly text-center" align="left" >
        <p class="pymt-title">
          Account Payment Details
        </p>
              <h1 class="renew" >Renewal Update:
                <span>Yearly</span>
              </h1>
            
              <h1 class="card-info" >Card info:
                <span>Last four ****3791</span>
              </h1>

              <h1 class="expire" >Exp. date:
                <span>3/2020</span>
              </h1>
            
          <hr class="pymt-hr">

          <p class="renew-status">Renewal Status:
              <span class="renew-approved">Approved</span>
          </p>
      </columns>

      <columns class="billing-addr text-center" >
            
        <p>Billing Address
          <span></span>
        </p>

        <h1>Laura Flowers
            <span></span>
        </h1>
      
        <h1>150 Myst Rd
            <span></span>
        </h1>
      
        <h1>Marlton, WA 10101
            <span></span>
        </h1>
      
        <h1>lauraflowers@yahoo.com
            <span></span>
        </h1>
      
        <h1>1-703-641-1515
            <span></span>
        </h1>
      </columns>
  </row>


  <!-- 4th row: pymt disclaimer -->
  <row class="container-pymt-disclaimer">
    <columns class="pymt-disclaimer">
        <p> 
          If the credit card you have on file is no longer valid, we won't be able to renew your service. You can check out your card details in the 
            <a href="https://www.headspace.com/login" target="blank">
          account settings
            </a>. 
          
          If you'd like to cancel your subscription you can
           <a href="https://www.headspace.com/login" target="blank" rel="noreferrer">
            "cancel"
           </a> 
          anytime before your renewal date..
        </p>
    </columns>
  </row>
</container>


<container class="container-button-img">
    <!--  image row -->
    <row class="container-img-app">
      <center class="img-app">
        <img src="{{ root }}/assets/img/headspace/3.png" alt="laptop" >
      </center>
    </row>

    <!--  open the app message -->
    <row class="container-explore-app ">
      <columns class="explore-app">
        <p class="open">Open the app to explore Headspace app.</p>
        <p>If you need us, we’re here for you.</p>
      </columns>
    </row>

    <!--  button row -->
    <row class="container-button-app">
      <center class="button-app " >
        <a href="https://www.headspace.com/login" 
            class="btn" rel="noreferrer" target="blank">
            Get some Headspace
        </a>
      </center>
    </row>

    <!-- quote -->
    <row class="container-quote-app ">
      <columns class="quote">
          <h1 class="here">
            "Here's to a healthier and happier you".
          </h1>

          <h2 class="headspace-team">
              - The Headspace Team
          </h2>
      </columns>
    </row>
</container>

