


<!-- header -->

<spacer size="16"></spacer>
<container class="container-header">
    <!-- 1st row: logo image -->
    <row>
      <img class="logo" src="{{ root }}/assets/img/headspace/hs-logo.png" alt="headspace-logo">
      <img class="finance" src="{{ root }}/assets/img/headspace/hs-finance.png" alt="headspace-logo">
      <columns></columns>
    </row>

    <!-- 2nd row: intro:  -->
    <row>
      <columns small="12" >
        <p>Hello Laura,</p>
        <p>This is just a friendly reminder that your Headspace <b>account is set to renew on:</b>
        </p>
      </columns>
    </row>
</container>



