

<!-- header -->

<spacer size="16"></spacer>
<container class="container-header">
    <!-- 1st row: logo image -->
    <row>
      <img  class="logo" src="{{headSpace.greeting.headspace_logo}}" alt="headspace-logo">

      <img class="finance" src="{{headSpace.greeting.finance_img}}" alt="finance-logo">
      <columns></columns>
    </row>

    <!-- 2nd row: intro:  -->
    <row>
      <columns small="12" >
        <p>{{headSpace.greeting.introName}}</p>
        <p>{{headSpace.greeting.reminder}} <b>{{headSpace.greeting.reminder2}}</b>
        </p>
      </columns>
    </row>
</container>



<!-- Hello Laura, -->